dcss:
    host: dataserver3.bl831.als.lbl.gov
    port: 14242
loopdhs:
    automl:
        host: voltron.bl831.als.lbl.gov
        port: 5000
        threshold: 0.11
    axis:
        host: axis6.bl831.als.lbl.gov
        port: 80
        camera: 1
    jpeg_receiver:
        port: 9000
    save_image_files: True
    save_image_dir: RESULTS
    log_dir: logs
    osci_delta: 180.0
    osci_time:  3.0
    video_fps: 30.0
